@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --concrete: #9C9C9C;
  --smoke: #F4F4F4;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-concrete: var(--concrete);
  --color-smoke: var(--smoke);
  --font-sans: var(--font-inter), sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

/* Custom Utilities for "Editorial" Vibe */
@utility text-balance {
  text-wrap: balance;
}
